.fondo{
    background-image: url(img/negroo.jpg);
 color: white;
}

.baner{
    background-image: url("./img/fondo22.jpg");
    padding: 25%;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.baner ::after{
    content: "";
    position: absolute;
    background-color:rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    opacity: 0.3;
    z-index: -1;
}

#nav{
    background: rgb(47,47,51);
    background: linear-gradient(90deg, rgba(47,47,51,1) 0%, rgba(215,36,221,1) 35%, rgba(96,63,129,1) 100%);
}
#Home{
    background: rgb(47,47,51);
    background: linear-gradient(90deg, rgba(47,47,51,1) 0%, rgba(215,36,221,1) 35%, rgba(96,63,129,1) 100%);
}



.baner-1{
    background-image: url("img/oficina.jpg");
    padding: 25%;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.baner-1 ::after{
    content: "";
    position: absolute;
    background-color:rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    opacity: 0.3;
    z-index: -1;
}